@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body{
    display: grid;
    height: 100%;
}

/*mainpart*/

.first-section{
    height: 82.2vh;
}

.cta{
    position: relative;
    margin: auto;
    
    padding: 19px 22px;
    transition: all .2s ease;
}
.cta:before{
    content: "";/*??*/
    position: absolute ;/*??*/
    top:0;
    left:0;
    display: block;
    border-radius:28px;
    background: rgba(203, 221, 240, 0.582);
    width: 56px;
    height: 56px;
    transition: all .3s ease;
} 

span{
    position: relative;
    font-size: 20px;
    line-height: 25px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

svg{
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke:black;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
svg:hover::before{
        width: 100%;
        background: darkslategrey ;
    }








/*footer*/

footer{
    background-color: black;
    color: white;
 /*Note : the code below should be applied for the ul not the footer*/
    /*display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;*/
} 

.ft-social-list{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.ft-social-list li{
    padding: 2rem;
}

.fab{
    color: white;
}

.ft-main{
    text-align: center;
    font-size: 1.5rem;
}
